<!DOCTYPE html>
<html lang="en" ng-app="gemStore">
<!-- run module "store" when this DOM loads -->
<head>
	<meta charset="UTF-8">
	<title>Gem Store</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
	<style>
		.products-list li {
			width: 350px;
			padding: 30px;
			margin: 3px;
			min-height: 320px
		}
		#products-panel {
			padding: 5px;
		}
		.product-thumb {
			margin-left: 70px;
			width: 110px;
		}
	</style>
</head>
<body ng-controller="StoreController as x" >


	<div id="products-panel">
		<button ng-click="x.sortItems()">Sort by Price</button>
		<ul class="list-group products-list">
			<li class="list-group-item pull-left"
				ng-hide="y.soldOut"
				ng-repeat="y in x.products  | orderBy:x.sortString">
				<h3>
<!-- name -->		{{y.name}}
<!-- price -->		<em class="pull-right">{{y.price | currency}}</em>
				</h3>
<!-- thumb -->	<img ng-src="{{y.images}}" alt="{{y.name}}"
					class="product-thumb" />
<!-- desc -->	<p><strong>Description: </strong>{{y.description}}</p>
				<button ng-show="y.canPurchase"> Add to Cart </button>
			</li>
		</ul>
	</div>

	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>