<!DOCTYPE html>
<html lang="en" ng-app="gemStore">
<!-- run module "store" when this DOM loads -->
<head>
    <meta charset="UTF-8">
    <title>Gem Store</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <style>
        body {
            background-color: #ececec;
        }
        .products-item {
            width: 400px;
            padding: 30px;
            margin: 3px;
            min-height: 420px;
        }

        #products-panel {
            padding: 5px;
        }

        .product-thumb {
            min-width: 150px;
        }
    </style>
</head>
<body ng-controller="StoreController as x">

    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href>
            Precious Gem Store - AngularJS Test App
        </a>
        <button ng-click="x.sortItems()" class="btn navbar-btn btn-default">Sort by Price</button>
    </nav>
    <section id="products-panel">
        <ul class="list-group products-list"
            ng-init="x.sortString = 'price'">
            <li class="list-group-item pull-left products-item"
                ng-hide="y.soldOut"
                ng-repeat="y in x.products  | orderBy: x.sortString">
                <h3 class="list-group-item-heading">
                    <!-- name -->		{{y.name}}
                    <a href="#" ng-show="y.canPurchase" class="btn btn-danger pull-right">Buy ({{y.price | currency}})</a>
                </h3>
                <section class="panel">
                    <!-- thumb -->	<img ng-src="images/{{y.images}}" alt="{{y.name}}"
                                           class="product-thumb" />
                </section>
                <section class="panel panel-default" ng-controller="panelCtrl as panel">
                    <nav role="navigation" class="panel-heading">
                        <ul class="nav nav-pills">
                            <li ng-class="{active:panel.isSelected(1)}">
                                <a ng-click="panel.setTab(1)" href>Description</a>
                            </li>
                            <li ng-class="{active:panel.isSelected(2)}">
                                <a ng-click="panel.setTab(2)" href>Specifications</a>
                            </li>
                            <li ng-class="{active:panel.isSelected(3)}">
                                <a ng-click="panel.setTab(3)" href>Reviews</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- desc -->	<p class="panel-body" ng-show="panel.isSelected(1)">
                        <strong>Description: </strong>{{y.description}}
                    </p>
                    <!-- specs -->	<p class="panel-body" ng-show="panel.isSelected(2)">
                        <strong>Specification: </strong>{{y.specs}}
                    </p>
                    <!-- review -->	<blockquote class="panel-body" ng-show="panel.isSelected(3)"
                                                   ng-repeat="review in y.reviews">
                        <strong>Stars: {{review.stars}}</strong> | {{review.body}}<br /> --{{review.author}}
                    </blockquote>
                    <form name="reviewForm" ng-show="panel.isSelected(3)">
                        <select>
                            <option>1 star</option>
                            <option>2 stars</option>
                            <option>3 stars</option>
                            <option>4 stars</option>
                            <option>5 stars</option>
                        </select><br />
                        <textarea></textarea><br />
                        <input type="email" placeholder="Email Address" />
                        <input type="submit" value="Submit" />
                    </form>
                </section>
            </li>
        </ul>
    </section>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>